doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Simple Calculator
  link(rel='stylesheet' href='./Bootstraps/css/bootstrap.css')
  link(rel='stylesheet' href='./style.css')
form(action='/' name='transactionentry' method="POST")
  .container-fluid
    .row
      .col-sm-4
      .col-sm-4.cardCol
        .card
          h3 Simple Calc v1.2
          .card-body
            b
            input#result.btn(type='text' name='result')
            .container
              .row
                .col-sm-4.inputCol
                  label.inputlabel(for='num1') First Input:
                  br
                  input#num1(type='number' name='num1')
                .col-sm-4.inputCol
                  p#operand
                .col-sm-4.inputCol
                  label.inputlabel(for='num2') Second Input:
                  br
                  input#num2(type='number' name='num2')
              .row
                .col-sm-12.operandSelect
                  .row
                    .col
                      label(for='btn') Select Operator:
                      br
                      button#addition.btn(type='button' onclick='addNumbers()')
                        | +
                      button#subtraction.btn(type='button' onclick='subtractNumbers()')
                        | -
                      button#multiplication.btn(type='button' onclick='multiplyNumbers()')
                        | x
                      button#division.btn(type='button' onclick='divideNumbers()')
                        | /
                      input.btn(type='submit' value='AC')
      .col
        br
        br
        .history 
          h5.histitle History
          hr
          if calculations
            each item in calculations
              p.histfont #{item.result}
                form(method="get" action='/')
                  input(type="hidden" placeholder="" name="id", value=item._id)
      .col-sm-4
  footer GROUP 1: Alinda, Wilfred, Dominic, Richard, Gerald.
  script(src='./Bootstraps/js/bootstrap.js')
  script(src='./js/calc.js')
