body {
	background-color: rgba(201, 252, 61, 0.605);
}
h3 {
	margin-top: 25px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 20px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.card {
	border-radius: 15px;
	margin-top: 100px;

	width: 20rem;

	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.cardCol {
	display: flex;
	justify-content: center;
}
.card-body {
	justify-content: center;
	height: 20rem;
}
.inputCol {
	display: flex;
	justify-content: center;
}
#result {
	height: 60px;

	margin-bottom: 20px;

	box-shadow: rgba(50, 50, 93, 0.179) 0px 30px 60px -12px inset,
		rgba(136, 200, 216, 0.536) 0px 18px 36px -18px inset;
	border-radius: 5px;
	background-color: #fff;
	color: black;
	text-align: center;
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 25px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
label {
	color: black;
	font-size: 15px;
	font-weight: 400;
}
#num1,
#num2 {
	border-radius: 5px;
	border: none;
	box-shadow: rgba(50, 50, 93, 0.179) 0px 30px 60px -12px inset,
		rgba(136, 200, 216, 0.536) 0px 18px 36px -18px inset;
	font-size: 20px;
	font-weight: bold;
	width: 6rem;
	height: 2.5rem;

	text-align: center;
	margin-top: 25px;
}
#operand {
	width: 3rem;
	box-shadow: rgba(50, 50, 93, 0.179) 0px 30px 60px -12px inset,
		rgba(136, 200, 216, 0.536) 0px 18px 36px -18px inset;
	background-color: aliceblue;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 25px;
	height: 2.5rem;
}
.btn {
	margin: 5px;
	/* border: 1px solid black; */
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(66, 146, 184, 0.533) 0px -2px 6px 0px inset;
	background-color: aliceblue;
	font-size: larger;
	font-weight: 500;
	padding-top: 2px;
	padding-bottom: 2px;
  outline: none;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: large;
	font-weight: 400;
}
.operandSelect {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding: 0%;
	text-align: center;
}
.inputlabel {
	position: absolute;
}
.history{
  width: 150px;
  height: 150p;
  box-shadow: rgba(50, 50, 93, 0.179) 0px 30px 60px -12px inset,
		rgba(19, 112, 138, 0.536) 0px 18px 36px -18px inset;
  background-color: rgba(213, 247, 119, 0.605);
  border-radius: 0 20px 0 20px;
}
.histfont{
  font-size: 0.8rem;
  font-weight: lighter;
  text-align: right;
}
.histitle{
  font-weight: lighter;
  text-align: center;
}
